'black-mid': #262626;
'black-darkest': #000000;
'primary-darkest': #081f5c;
'primary-lightest': #eff1f8;
'black-dark': #1a1a1a;
'primary-light': #ccd3ea;
'black-light': #333333;
'primary-primary': #334eac;
'primary-mid': #99a6d6;
'secondary-darkest': #117a8a;
'secondary-primary': #17a2b8;
'secondary-mid': #2b8997;
'secondary-light': #7bb5be;
'secondary-lightest': #eeeeee;
'black-lightest': #4d4d4d;
'grey-darkest': #666666;
'grey-dark': #808080;
'grey-mid': #999999;
'grey-light': #b3b3b3;
'grey-lightest': #e0e0e0;
'white-darkest': #ffffff;
'white-dark': #fafafa;
'white-mid': #f5f5f5;
'white-light': #f0f0f0;
'white-lightest': #eaeaea;
'semantic-red-00': #fff0f0;
'semantic-red-05': #fad3d1;
'semantic-red-10': #fa817a;
'semantic-red-20': #f55a51;
'semantic-red-30': #d5332a;
'semantic-red-40': #b21d15;
'semantic-red-50': #99120b;
'semantic-red-60': #7c0903;
'semantic-red-70': #650601;
'semantic-red-80': #4c0501;
'semantic-red-90': #370401;
'semantic-orange-00': #fff6eb;
'semantic-orange-05': #fedfb9;
'semantic-orange-10': #fcc178;
'semantic-orange-20': #f5a038;
'semantic-orange-30': #eb8a14;
'semantic-orange-40': #d47602;
'semantic-orange-50': #c26b00;
'semantic-orange-60': #ad5f00;
'semantic-orange-70': #754100;
'semantic-orange-80': #472700;
'semantic-orange-90': #2e1900;
'semantic-green-00': #e6f0ea;
'semantic-green-05': #ecffeb;
'semantic-green-10': #cce1d5;
'semantic-green-20': #b3d3c0;
'semantic-green-30': #9ac4ab;
'semantic-green-40': #8db69d;
'semantic-green-50': #80b597;
'semantic-green-60': #67a682;
'semantic-green-70': #4e986d;
'semantic-green-80': #348958;
'semantic-green-90': #1b7a43;
